.app {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #dddddd;
  margin: 20px;
  padding: 10px;
}

header {
  display: flex;
  max-width: 100%;
  height: 20%;
  background-color: #6AA84F;
  margin: 10px;
}

.main-content {
  display: flex;
  gap: 20px;
  height: 80%;
  margin: 10px;
}

.side-nav {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  height: 80%;
  background-color: #6FA8DC;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: #E06666;
  padding: 0 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  gap: 20px;
  margin: 20px 0;
}

.sub-contents {
  background-color: #FFD966;
  width: 40%;
  height: 100%;
}

.advertisement {
  background-color: #6D9EEB;
  height: 20%;
  margin: 0 0 20px 0;
}